<template>
  <div class="section">
    <div class="top">
      {{ time }} : <span class="count">{{ members.length}}명</span>
    </div>
    <div class="members">
      <div class="member" v-for="(name, index) of members" :key='index'>
        <img class="image" src="../assets/user.svg"/>{{ name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Section',
  props: {
    members: Array,
    time: String,
  }
}
</script>

<style scoped>
  .section {
    background-color: white;
    margin-top: 10px;
  }

  .top {
    padding: 5px 20px;
    text-align: left;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .count {
    color:cornflowerblue;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
  }

  .member {
    flex: 0 1 calc(50% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
  }
  .image {
    width: 30px;
    margin-right: 5px;
  }

</style>
