<template>
  <div id="app">
    <div class="absolute top header">
      <h2>핸드 출근 시간</h2>
    </div>
    <pull-to :top-load-method="refresh"
      :top-config="pullConfig">
      <div class="content">
          <Section v-for="(data, index) of timeData" :key="index" :members="data.members" :time="data.time"></Section>
      </div>
    </pull-to>
  </div>
</template>

<script>
import Section from './components/section.vue'
import PullTo from 'vue-pull-to'
import { map } from 'lodash';

export default {
  name: 'app',
  components: {
    Section,
    PullTo
  },
  methods: {
    update(callback) {
      this.getInTime(this.apiService)
      .then(data => {
        this.timeData = this.parseTimeData(data)
        callback && callback('done')
      })
      .catch(() => callback('fail'))
    },
    refresh(loaded) {
      this.update(loaded)
    },
    getInTime(api) {
      return api.getInTime().then(result => result.data);
    },
    parseTimeData(data) {
      return map(data, (userList, time) => {
        return {
          time: time,
          members: map(userList, 'user.name')
        }
      });
    }
  },
  data: function () {
    return {
      timeData: null,
      pullConfig: {
        pullText: '🥺', // The text is displayed when you pull down
        triggerText: '😫', // The text that appears when the trigger distance is pulled down
        loadingText: '🤔', // The text in the load
        doneText: '😁', // Load the finished text
        failText: '😭', // Load failed text,
        loadedStayTime: 700,
        stayDistance: 60,
        triggerDistance: 80
      }
    }
  },
  created() {
    this.update();
  },
}
</script>

<style>

html, body {
  height: 100%;
  overflow: hidden;
  background-color: #f6f6f6;
  margin: 0px;
}

.default-text {
  font-size: 48px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
}
.top-load-wrapper {
    line-height: 50px;
    text-align: center;
  }
h2 {
  margin: auto;
}
.header {
  height: 40px;
  background-color: #35495e;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  z-index: 100;
}
.absolute {
  position: absolute;
}

.top {
  top: 0px;
}

.content {
  box-sizing: border-box;
  padding-top: 40px;
  height: 100%;
  background: #f6f6f6;
}
</style>
